.table {
    padding: 1rem;
    width: 900px;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    background-color: #202120;
}

.table h2 {
    padding-bottom: 1rem;
    color: whitesmoke;
}

.boxes {
    display: flex;
    flex-direction: row;
}
  
.box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: solid 1px #76b861;
    align-items: center;
    width: 300px;
  }
  
.label {
    padding: 0.3rem;
    color: whitesmoke;
    font-size: 1.3rem;
  }
  
.value {
    padding: 0.3rem;
    font-size: 1.2rem;
    color: whitesmoke;
  }
  
  .custom-tooltip {
    white-space: nowrap;
  }
  
  @media screen and (max-width: 768px) {
    /* Estilos para dispositivos com largura máxima de 768px */
    .custom-tooltip {
      white-space: normal;
      max-width: 200px; /* Ajuste conforme necessário */
    }
  }