*{
  background-color: #202120;
}

.login {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.login a {
    color: whitesmoke;
    font-size: 36px;
}
.info-login p {
  color: whitesmoke;
  font-size: 26px;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.main-login {
  margin-top: 15rem;
}