.chart-container {
    background-color: #202120;
    text-align: center;
}

.chart-container h2 {
    margin: 0 auto;
    color: whitesmoke;
    padding: 1rem;
}

.chart-container p {
    margin: 0 auto;
    color: whitesmoke;
    padding: 1rem;
}

.chart {
    max-width: 100%;
    max-height: 100%;
    width: 1200px;
    height: 675px;
    margin: 0 auto;
}